.elementor-kit-8 {
    --e-global-color-primary: #60A686;
    --e-global-color-secondary: #2A4B56;
    --e-global-color-text: #7A7A7A;
    --e-global-color-accent: #0A3A42;
    --e-global-color-b419201: #61A686;
    --e-global-typography-primary-font-family: "Cairo";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Cairo";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Cairo";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Cairo";
    --e-global-typography-accent-font-weight: 500;
}

.elementor-kit-8 button,.elementor-kit-8 input[type="button"],.elementor-kit-8 input[type="submit"],.elementor-kit-8 .elementor-button {
    border-radius: 15px 15px 15px 15px;
}

.elementor-kit-8 button:hover,.elementor-kit-8 button:focus,.elementor-kit-8 input[type="button"]:hover,.elementor-kit-8 input[type="button"]:focus,.elementor-kit-8 input[type="submit"]:hover,.elementor-kit-8 input[type="submit"]:focus,.elementor-kit-8 .elementor-button:hover,.elementor-kit-8 .elementor-button:focus {
    background-color: transparent;
    background-image: linear-gradient(180deg, var( --e-global-color-accent ) 0%, var( --e-global-color-b419201 ) 100%);
}

.elementor-kit-8 img {
    border-radius: 015px 015px 015px 015px;
}

.elementor-kit-8 label {
    color: #014f28;
}

.elementor-kit-8 input:not([type="button"]):not([type="submit"]),.elementor-kit-8 textarea,.elementor-kit-8 .elementor-field-textual {
    box-shadow: 0px 0px 7px 0px rgba(10.000000000000002, 57.99999999999996, 65.99999999999997, 0.38);
}

.elementor-kit-8 input:focus:not([type="button"]):not([type="submit"]),.elementor-kit-8 textarea:focus,.elementor-kit-8 .elementor-field-textual:focus {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
}

.elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1140px;
}

.e-con {
    --container-max-width: 1140px;
}

.elementor-widget:not(:last-child) {
    margin-block-end:20px;}

.elementor-element {
    --widgets-spacing: 20px 20px;
}

{
}

h1.entry-title {
    display: var(--page-title-display);
}

.elementor-kit-8 e-page-transition {
    background-color: #FFFFFF;
}

@media(max-width: 1024px) {
    .elementor-section.elementor-section-boxed > .elementor-container {
        max-width:1024px;
    }

    .e-con {
        --container-max-width: 1024px;
    }
}

@media(max-width: 767px) {
    .elementor-section.elementor-section-boxed > .elementor-container {
        max-width:767px;
    }

    .e-con {
        --container-max-width: 767px;
    }
}

/* Start custom CSS */
.text-home-linear-gradient {
    background: linear-gradient(270deg, #014f28 0%, #014f28 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* End custom CSS */
